[submodule "src/src-frontend"]
	path = src/src-frontend
	url = https://github.com/MarEscVer/BooknBookFront.git
	branch = master
[submodule "src/src-api"]
	path = src/src-api
	url = https://github.com/MarEscVer/BookNBookBack.git
	branch = master
